{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <blockquote>{{ post['post'] }}</blockquote>
        </div>
    </div>
    <form method="post">
        <label for="comment">Post a comment</label>
        <textarea name="comment" id="comment" required>{{ request.form['comment'] }}</textarea>
        <input type="submit" value="Post">
    </form>
    <h3>Comments</h3>
    <hr>
    {% if comments %}
    {% for comment in comments %}
    <div class="row">
        <div class="col">
            <h4>{{ comment.comment }}</h4>
        </div>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}