{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <blockquote>{{ post['post'] }}</blockquote>
    <br>
    <hr>
    <form method="post">
        <label for="comment">Post a comment</label>
        <textarea style="min-height: 2em;" name="comment" id="comment" required>{{ request.form['comment'] }}</textarea>
        <input type="submit" value="Post" onclick="clearData()">
    </form>
    <h3>Comments</h3>
    <hr>
    {% if comments %}
    {% for comment in comments %}
    <div class="about">by <a href="{{ url_for('blog.display_profile', id=g.user['id']) }}">{{ post['username'] }}</a> on
        {{ post['created'].strftime(g.ftime) }}
    </div>
    <h6>{{ comment.comment }}</h6>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    {% endif %}
{% endblock %}